        <style>
           #tr1:hover {background-color: #ddd;}
            .table-scroll {
                font-family:cursive;
                position:relative;
                max-width:1200px;
                margin:auto;
                overflow:hidden;
                border-collapse: collapse;
            }
            .table-wrap {
                width:100%;
                overflow:auto;
            }
            .table-scroll table {
                width:100%;
                margin:auto;
                border-collapse:separate;
                border-spacing:0;
            }
           
            .table-scroll th, .table-scroll td {
                padding:5px 10px;
                border: 1px solid #ddd;
                background:#fff;
                white-space:nowrap;
                vertical-align:top;
            }
            .table-scroll th{
                background-color: #4CAF50;
                color:white;
            }
            .table-scroll thead, .table-scroll tfoot {
                background:#f9f9f9;
            }
            .clone {
                position:absolute;
                top:0;
                left:0;
                pointer-events:none;
            }
            .clone th, .clone td {
                visibility:hidden
            }
            .clone td, .clone th {
                border-color:transparent
            }
            .clone tbody th {
                visibility:visible;
                color:red;
            }
            .clone .fixed-side {
                border-bottom:1px solid #000;
                background:#eee;
                visibility:visible;
            }
            .clone thead, .clone tfoot{background:transparent;}
        </style>
        <script>
            $(document).ready(function() {
            $(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');   
            });
        </script>
<div class="container-fluid">
    </br>
    <p style="text-align: center;font-family: cursive;font-size:50px;">Volunteers of Events</p>
    
    {{!-- <a href="donar/createDonarform" class="btn btn-success">Add Donar</a> --}}
    <a href="index1" class="btn btn-success " style="font-family: cursive;">Back</a>
    <br></br>
    <div id="table-scroll" class="table-scroll">
            <div class="table-wrap">
              <table class="main-table">
                <tbody>
                <thead>
                  <tr>
                    <th style="background-color: #4CAF50;padding: 13px;" class="fixed-side" scope="col">&nbsp;ID</th>
                    {{!-- <th>ID</th> --}}
                    <th style="padding: 13px;"> Name</th>
                    <th style="padding: 13px;"> Mobile</th>
                    <th style="padding: 13px;"> Email</th>
                    <th style="padding: 13px;"> Event Name</th>
                    <th style="padding: 13px;">Action</th>
                  </tr>
                </thead>
                {{#each donar}}
                <tr id="tr1">
                    <th  class="fixed-side">{{this.id}}</th>
                    {{!-- <td>{{this.id}}</td> --}}
                    <td id="td1">{{this.name}}</td>
                    <td id="td1">{{this.mobile}}</td>
                    <td id="td1">{{this.email}}</td>
                    <td id="td1">{{this.eName}}</td>
                    <td  id="td1">
                        <a href="/volunteer/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
</div>

